.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.order-book-table {
  width: 100%;
  border-collapse: collapse;
}

.order-book-table th {
  text-align: left;
  padding: 8px;
  background-color: #f2f2f2;
  font-weight: bold;
}

.order-book-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.price-header, .price {
  text-align: right;
}

.amount-header, .amount {
  text-align: right;
}

.ask {
  background-color: #f08080; /* Красный для продаж */
}

.bid {
  background-color: #90ee90; /* Зеленый для покупок */
}